include mixins/head.pug
include mixins/navbar.pug

html
    +head
    body
        +navbar(logged, user)
        div(class="container")
            h1(class="bg-primary page-header" style="padding: 10px") Profile
            h2(class="text-center") #{user}
            dl(class="dl-horizontal")
                dt Name:
                dd #{firstName} #{lastName}
                dt City:
                dd #{city}
                dt State:
                dd #{state}
            div(class="clearfix")
                a(class="btn btn-primary btn-lg" href="/" + user + "/profile/edit"
                    role="button" class="pull-right") Update Settings
            h1(class="bg-success page-header" style="padding: 10px") Your Books
            table(class="table")
                tr
                    th Title
                    th Author
                    th Proposed Trades
                each book in userBooks
                    tr
                        td
                            a(href="/book/" + book.id)= book.title
                        td= book.author
                        td View
            a(class="btn btn-success btn-lg" href="/" + user + "/profile/add"
                role="button" class="pull-right") Add Book
